.TopToursWrapper{
    margin-left: auto;
    margin-right: auto; 
    width: 60vw;
}

.TopToursWrapper:hover{
    cursor: pointer;
}

.TopToursImage{
 /* width: '18vw', */
  /* height: '33vh', */
  width: 285px;
  height: 270px;
  border-radius: 5px;
}

.TopToursTitle h4{
 /* display:block; */
 color: #003057; 
 font-family: 'Arial Narrow';
 font-weight: bold;
 /* background: rgb(214, 114, 116); */
 /* background-color: #005AEB; */
 /* background-color: #BCD7EE; */
 /* border: 2px solid #005AEB; */
 text-align: center;
 width: 285px;
 /* max-height: 60px; */
 /* line-height: 1.1em;
 overflow: hidden; */
 padding: 0.5vw;
 font-size: 20px;
}
 
.TopToursTitle{
    background-color: #BCD7EE;
    display: block;
    width: 285px;
    height: 8vh;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 0.2vh;
    margin-bottom: 2vh;
} 

.SmallerTopToursWrapper{
    margin-left: auto;
    margin-right: auto;    
}

.SmallerTopToursImage{
    height: 270px;
    border-radius: 5px;   
}

.SmallerTopToursTitle{
    background-color: #BCD7EE;
    display: block;
    height: 8vh;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 0.2vh;
    margin-bottom: 2vh;   
}

.LoadingOutlinedIcon{
    border:none;
    rotate: 20%;
    font-size: 40px;
    text-align: center;
    
}

.Loading{
    width: 285px;
    height: 270px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
