ul{
    padding-left:0;
    padding-right:0;
    list-style: none;
}

.TopToursWrapper{
    margin-left: auto;
    margin-right: auto; 
    width: 60vw;
    text-align: center;
}

.TopToursWrapper:hover{
    cursor: pointer;
}

.TopToursImage{
 /* width: '18vw', */
  /* height: '33vh', */
  /* width: 285px; */
  height: 270px;
  border-radius: 5px;
}

.TopToursTitle h4{
 /* display:block; */
 color: #003057; 
 font-family: 'Arial Narrow';
 font-weight: bold;
 /* background: rgb(214, 114, 116); */
 /* background-color: #005AEB; */
 /* background-color: #BCD7EE; */
 /* border: 2px solid #005AEB; */
 text-align: center;
 /* width: 285px; */
 /* max-height: 60px; */
 /* line-height: 1.1em;
 overflow: hidden; */
 padding: 0.5vw;
 font-size: 100%;
}
 
.TopToursTitle{
    background-color: #BCD7EE;
    display: block;
    /* width: 285px; */
    height: 9vh;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 0.2vh;
    margin-bottom: 2vh;
    margin-left:auto;
    margin-right:auto;
} 

.SmallerTopToursWrapper{
    margin-left: auto;
    margin-right: auto;    
}

.SmallerTopToursImage{
    height: 270px;
    border-radius: 5px;   
}

.SmallerTopToursTitle{
    background-color: #BCD7EE;
    display: block;
    height: 8vh;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 0.2vh;
    margin-bottom: 2vh;   
}
