.mySearch{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 40vw; */

}

 .textInput ,
 .mySearch select{
     font-size: 16px;
     font-family: Arial, Helvetica, sans-serif;
     color: #001959;
     width: 40vw;
     padding: 1vw;
     border-bottom: none;
     border-top: none;
     border-left: none;
     border-right: 1px solid #001959;
    }

.datePicker{
    /* width: 30vw; */
    /* background-color: blue; */
}

.dropdownDatePicker{
    /* color: red; */
    /* background-color: blue; */
    /* width: 20vw; */
    font-family: 'Tahoma';
}


.dateInput{
    font-size: 16px;
     font-family: Arial, Helvetica, sans-serif;
     color: #001959;
     width: 20vw;
     /* position: absolute; */
     /* margin-left: 45vw; */
     border-bottom: none;
     border-top: none;
     border-left: none;
     border-right: none ; 
     cursor: pointer;

}

.number{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #001959;
    width: 7vw;
    padding: 1.5vw;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: 1px solid #001959;
    
}

.mySearch button{
        /* background-color:#3CB260; */
        background-color: #005AEB;
        color: white;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        width: 10vw;
        border-radius: 0.5vw;  
        padding: 0.7vw; 
        font-weight: bold;     
        /* margin-top: 0.9vh; */
        margin-right: 1vw;
        margin-left: 5vw;
}

.mySearch button:hover{
    background-color: #001959;
    color: white;
    cursor: pointer;
    
}


.formInnerWrapper{
    border: 3px solid white;
    width: 70.5vw;
    margin: -0.2vw;
    border-radius: 0.5vw; 

}

.formOuterWrapper{
    /* border-top: 1.5vw solid rgb(114, 83, 44, 0.9);
      border-bottom: 1.5vw solid rgb(114, 83, 44, 0.9);
      border-left: 5vw solid rgb(114, 83, 44, 0.9);
      border-right: 5vw solid rgb(114, 83, 44, 0.9); */
      /* border-top: 1.5vw solid #DEB887;
      border-bottom: 1.5vw solid #DEB887;
      border-left: 5vw solid#DEB887;
      border-right: 5vw solid #DEB887; */
      border-top: 1.5vw solid #BCD7EE;
      border-bottom: 1.5vw solid #BCD7EE;
      border-left: 5vw solid#BCD7EE;
      border-right: 5vw solid #BCD7EE;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0.3vw;
      border-radius: 0.5vw; 
      width: 80vw;
}

.borderInnerWrapper2{
    border: 2px solid white;

}

.noResultSearch{
    color: darkslategrey;
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family:  Arial, Helvetica, sans-serif;
}
