.FormWrapper{
    margin: 3vh 10vw 5vh 10vw;
}

.RegWrapper{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* display: grid;
    grid-template-columns: repeat(2, 20vw);
    gap: 5vw; */
}

.myForm{
    display: block;
    padding: 1vw;
    border:2px solid rgb(206, 207, 209);
    border-radius:0.5vw;
    flex: 1;
    margin-right: 1vw;
}

.CartDetails{
    padding: 1vw;
    border:2px solid rgb(206, 207, 209);
    border-radius:0.5vw;
    display: inline-block;
    width: 30vw;
    /* flex:1; */
}

.InputBlock{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    width:90%;
    margin-top: 2vh;
    border: 1px solid rgb(206, 207, 209);
    background-color: #f4f6f8;
    padding: 2vw;
    border-radius: 5px;
}
.RadioForm{
        min-width:20vw; 
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
}

.FormLabel{
    font-family: 'Arial Narrow';
    font-weight: bold;
    font-size: 17px;
    color: rgb(77, 75, 75);
    margin-bottom:1vh
}

.SubmitButton{
    background: #009FE3;
    color: white;
    border: 1px solid grey;
    border-radius: 2px;
    font-weight: bold;
    font-size: 19px;
    width: 12vw;
    height: 40px;
    text-align: center;
    padding-bottom: 5px;
    margin-top: 25px;
    margin-bottom: 8px;   
}