.FormWrapper{
    margin: 3vh 10vw 5vh 10vw;
    position:relative;
}

.FormWrapper h2{
    padding: 1vw;
    border:2px solid rgb(206, 207, 209);
    border-radius:0.5vw;
    font-family:Arial;
    color:blue;
    font-size:22px;
    font-weight:bold;
    background-color: #d7ebfc;
    line-height:6vh;
}

.HeadPolicies{
    padding: 1vw;
    border:2px solid rgb(206, 207, 209);
    border-radius:0.5vw;
    font-family:Arial;
    color:#102D69;
    font-size:17px;
    font-weight:bold;
    background-color: #ecf3fa;
}

.RegWrapper{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.RegWrapperSmallScreen{
    display:flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
}

.myForm{
    display: block;
    padding: 1vw;
    border:2px solid rgb(206, 207, 209);
    border-radius:0.5vw;
    flex: 1;
    margin-right: 1vw;
    width: 60%;
}

.myFormSmallScreen{
    display: block;
    padding: 1vw;
    border:2px solid rgb(206, 207, 209);
    border-radius:0.5vw;
    flex: 1;
    margin-right: 1vw;
    width: 100%;
}

.InputBlock{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    width:90%;
    margin-top: 2vh;
    border: 1px solid rgb(206, 207, 209);
    background-color: #f4f6f8;
    padding: 2vw;
    border-radius: 5px;
}
.RadioForm{
        min-width:20vw; 
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
}

.FormLabel{
    font-family: 'Arial Narrow';
    font-weight: bold;
    font-size: 17px;
    color: rgb(77, 75, 75);
    margin-bottom:1vh
}
