.NonActivePmnt{
    display: none;
}

.ActivePmnt{
    display: block;
    color: blue;
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.NonActiveSubmit{
    display: none;
}

.SubmitButton{
    background: #009FE3;
    color: white;
    border: 1px solid grey;
    border-radius: 2px;
    font-weight: bold;
    font-size: 90%;
    width: 25%;
    text-align: center;
    padding-bottom: 2vh;
    padding-top: 2vh;
    margin-top: 25px;
    margin-bottom: 8px;   
}

.SubmitButton:hover{
    background: darkblue;
}
