.RatesGridWrapper{
    display: grid;
    grid-template-columns: 30% 5% 29% 12% 12% 12%;
    grid-auto-rows: minmax(4vw,auto);
    padding-left:0;
    margin-bottom:0;
    /* grid-gap: 5px; */
}

.Header{
    background-color: #a3caf1;
    border-radius: 0.5vw;
    border: 2px solid rgb(109, 109, 196);
}

.RoomTypeColumn{
    grid-column:1;
    grid-row: 1/span 2;
    color: #102D69;
    font-size: 17px;
    font-family:Arial;
    font-weight:bold;
    background-color: rgb(228, 228, 247);
    border-bottom: 2px solid rgb(109, 109, 196); 
    border-radius: 5px;;
}

.RoomTypeColumnSmallScreen{
    grid-column:1/-1;
    grid-row: 1;
    color: #102D69;
    font-size: 17px;
    font-family:Arial;
    font-weight:bold;
    background-color: rgb(199, 199, 230);
    /* border-bottom: 2px solid rgb(109, 109, 196);  */
    border-radius: 5px;
    padding-top:3vw;
    padding-bottom:3vw;
    text-align:center;
}

.NotActive{
    display:none;
}

.GridUlDetails{
    padding-left:0;
    border-left: 2px solid rgb(109, 109, 196);
    border-right: 2px solid rgb(109, 109, 196);
    border-radius: 5px;
}

.DetailsSmallScreen{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: minmax(4vw,auto);
    border: 2px solid rgb(109, 109, 196);
    border-radius: 5px;
}

.DetailsSmallScreen div h5:nth-child(1){
  grid-row:2;
  /* border-bottom: 2px solid rgb(109, 109, 196);
  border-right: 2px solid rgb(109, 109, 196);
  border-left: 2px solid rgb(109, 109, 196); */
  font-size: 17px;
  color: #102D69;
  font-family:Arial;
  font-weight:bold;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}

.DetailsSmallScreen div h5:nth-child(2){
    grid-row:3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

.Details{
    display: grid;
    grid-template-columns: 30% 5% 29% 12% 12% 12%;
    /* grid-auto-rows: minmax(4vw,auto); */
    list-style: none; 
}

.Details h5{
    margin-bottom:0;
    overflow: hidden;
    text-align:center;
}

.Details h5:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
}

.RatesGridHeader{
    list-style: none;
    font-family:Arial;
    color:#102D69;
    font-size:18px;
    font-weight:bold;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 4;
    border-left: 2px solid rgb(109, 109, 196);
    text-align: center;
}

.RatesGridHeader:nth-child(1){
    border-left:none;
}

/* .RatesGridHeader:nth-child(2){
    overflow-wrap:break-word;
} */
/* 
.RatesGridHeader:nth-child(3){
    border-left: 2px solid rgb(109, 109, 196);
} */
.WrapperAvailableOptions{
    display:grid;
    grid-column:4/-1;
    grid-template-columns: 33% 33% 33%;
    margin-bottom:0;
    text-align:center;
    border-bottom: 2px solid rgb(109, 109, 196);
}

.WrapperAvailableOptions h5:nth-child(2){
    border-left: 2px solid rgb(109, 109, 196);
}

.WrapperAvailableOptions h5:nth-child(3){
    border-left: 2px solid rgb(109, 109, 196);
} 

.WrapperAvailableOptionsSmallScreen{
    grid-row:3;
    /* display:grid; */
    /* grid-template-rows:5vw 5vw 8vw; */
    margin-bottom:0;
    text-align:center;
    display: flex;
    flex-direction: column;
    /* border-bottom: 2px solid rgb(109, 109, 196); */
}

.AvailableOptions{
    font-size: 15px;
    color:#102D69;
    font-family:'Arial';
    /* font-weight:bold; */
    text-align:center;
}