/* .myForm{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start ;
    margin-top: 6vw;
    margin-left: 7vw;
}

.myForm label{
    padding-right: 30px;
}

.list__green {
    color: green;
}

.list__red{
    color: red;
} */

.switcher{
    /* position: relative; */
    /* margin-top: 1vw; */
    /* width: 80%; */
    text-align: left;
    display:flex;
    flex-direction: row;
    width:100%;
    /* height: 7vw; */
    /* overflow: hidden */
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.switcher h4{
    color:rgb(25, 25, 94);
    font-size:90%;
    font-weight:bold;
}

.switcher__item.active{
    background-color: #96c6f0;
    color: #003057;

}

.switcher__item{
    background-color: #cddef8;
    color: rgb(175, 170, 170);
    font-weight: bold;    
    cursor: pointer;
    padding: 7px 5px 5px 7px;
    border-top: 1px solid #8bc0f0;
    border-left: 1px solid #8bc0f0;
    border-right : 1px solid #8bc0f0;
    border-bottom: none;
    border-top-right-radius: 3vw;
    border-top-left-radius: 1vw;
    width: 35%;
    /* height: 100%; */
}
