.footer{
    width: 100% ;
    /* background-color: #001959; */
    background-color: #003057;
    min-height: 25vh;
    padding-bottom: 3vw;
    /* padding-left: 50vw; */
    bottom: 0;
    /* text-align: center; */
    /* right: 0; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* .footerXS {
    min-width: 400px;
    background-color: orange;
    min-height: 25vh;
    padding-bottom: 3vw;
    bottom: 0;
    color: red;
}

.footerSX .footerLinks{
    padding-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-width: 110vw; */
/* }  */

.footer ul a{
    height: 1.5vw;
    padding-top: 0.3vw; 
    padding-bottom: 0.3vw;
    color: white;
    padding-left: 0;
    font-size: 15px;
    font-family: Arial;
}

.footer ul{
    list-style: none;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
}

.footer ul a:hover{
   text-decoration: underline;
}

.footerLinks{
    padding-top: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* min-width: 110vw; */
}

.footerLinks h3{
    padding-bottom: 1.5vw;
}

.Hotels .SPA .INFO{
    display: flex;
    flex-direction: column;
}


.footer h3{
    color: white;
    font-weight: bold;
    font-family: Tahoma;
    font-size: 15px;
 }
