.footer{
    width: 100%;
    background-color: #001959;
    min-height: 25vw;
    padding-bottom: 3vw;
    bottom: 0;
}

.footer ul a{
    height: 1.5vw;
    padding-top: 0.3vw; 
    padding-bottom: 0.3vw;
    color: white;
    padding-left: 0;
    font-size: 12px;
}

.footer ul{
    list-style: none;
    padding-left: 0;
}

.footer ul a:hover{
   text-decoration: underline;
}

.footerLinks{
    padding-top: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 100%;
}

.footerLinks h3{
    padding-bottom: 1.5vw;
}

.Hotels .SPA .INFO{
    display: flex;
    flex-direction: column;
}


.footer h3{
    color: white;
    font-weight: bold;
    font-size: 13px;
 }
