.supplierWrapper{
    width:80%;
    border: 2px solid rgb(99, 120, 189);
    border-radius: 10px;
    padding:2vw;
    margin-left:auto;
    margin-right:auto;
}

.purecontentPage .blocks div,
.purecontentPage .blocks_2 div,
.purecontentPage .blocks_4 div,
.purecontentPage .blocks_5 div{
    margin-top:0.5vh;
    padding:0;
    min-height: 2vh;
}

.purecontentPage .blocks{
    border: 1px solid lightblue;
    border-radius: 10px;
    background: rgb(248, 238, 238);
    margin-top:1vh;
    display:grid;
    align-items: center;
    grid-template-columns: 40% 30% 30%;
}

.purecontentPage .blocks_2{
    border: 1px solid lightblue;
    border-radius: 10px;
    background: rgb(248, 238, 238);
    margin-top:1vh;
    display:grid;
    align-items: center;
    grid-template-columns:15% 35% 15% 35%;
}

.purecontentPage .blocks_3{
    border: 1px solid lightblue;
    border-radius: 10px;
    background: rgb(248, 238, 238);
    margin-top:1vh;
    display:grid;
    align-items: center;
    grid-template-columns: 60% 40%;
}

.purecontentPage .blocks_4{
    border: 1px solid lightblue;
    border-radius: 10px;
    background: rgb(248, 238, 238);
    margin-top:1vh;
    display:grid;
    align-items: center;
    grid-template-columns: 40% 40%;
}

.purecontentPage .blocks_5{
    border: 1px solid lightblue;
    border-radius: 10px;
    background: rgb(248, 238, 238);
    margin-top:1vh;
    display:grid;
    align-items: center;
    display:flex;
    justify-content: space-evenly;
    grid-template-columns: 15% 19% 15% 18% 15% 18%;
}

.purecontentPage .blocks span,
.purecontentPage .blocks_2 span,
.purecontentPage .blocks_3 span,
.purecontentPage .blocks_4 span,
.purecontentPage .blocks_5 span {
    font-weight: bold;
    color:rgb(13, 3, 70);
    font-size: 14px;
    margin-left: 0.8vw;
    margin-right: 0.8vw;
}

.supplierWrapper h3{
    padding: 1vw;
    border:2px solid rgb(206, 207, 209);
    border-radius:0.5vw;
    font-family:Arial;
    color:rgb(17, 17, 139);
    font-size:20px;
    font-weight:bold;
    background-color: #d7ebfc;
    line-height:6vh;
}

.SupplierSubmitButton{
    background: #009FE3;
    color: white;
    border: 1px solid grey;
    border-radius: 2px;
    font-weight: bold;
    font-size: 90%;
    width: 25%;
    text-align: center;
    padding-bottom: 2vh;
    padding-top: 2vh;
    margin-top: 25px;
    margin-bottom: 8px;
}

.SupplierSubmitButton:hover{
    background: darkblue;
}

.SupplierMonth div.ant-picker-input input::placeholder{
    font-size: 13px;
    color:rgb(13, 3, 70);
    font-weight: bold;
}

.SupplierMonth div.ant-picker-input{
    width:20vw;
}

.ChildrenNA,
.ageNA{
    display: none;
}

.ChildrenAvailable{
    display:block;
}

.ageAvailable{
    display:block;
    /* flex-direction: row; */
    grid-auto-rows: auto;

}