.HotelFooterPages{
    width:70%;
    margin-left:auto;
    margin-right:auto;
    margin-top:1vh;
}

.HotelFooterPagesSmallScreen{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-top:1vh;
}

.HotelFooterPages h2{
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    font-family: Arial;
    background-color: #6194c0;
    padding: 2vw;
    border-radius: 1vw;
}

.HotelFooterPagesSmallScreen h2{
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    font-family: Arial;
    background-color: #6194c0;
    padding: 2vw;
    border-radius: 1vw;
}

.HotelContentWrapper{
    background:#ddeaf5;
    border-radius:5px;
    margin-bottom:-5vh;
    padding-top:3vh;
    padding-right:3vh;
    padding-left:3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top:3px solid white;
}

.HotelContentWrapperSmallScreen{
    background:#ddeaf5;
    border-radius:5px;
    padding-top:2vh;
    padding-right:3vh;
    padding-left:3vh;
}

.HotelContentWrapper img{
    margin-bottom:2vh;
}
.HotelContentWrapper button{
    height: 100%;
    background: #009FE3;
    color: white;
    border: 1px solid grey;
    border-radius: 2px;
    font-weight: bold;
    font-size: 90%;
    width: 25%;
    text-align: center;
    padding-bottom: 2vh;
    padding-top: 2vh;
    margin-top: 25px;
    margin-bottom: 8px;
}

.HotelContentWrapper button:hover{
    cursor:pointer;
    background: #024461;
    color: white;
}
.HotelContentWrapperSmallScreen img{
    margin-bottom:2vh;
}

.HotelContentWrapperSmallScreen h3{
    font-size: 15px;
}